# Imports

In [6]:
from os import walk
import pandas as pd

# Constants

In [7]:
spam1 = 'SpamData/Processing/spam_assassin_corpus/spam_1'
spam2 = 'SpamData/Processing/spam_assassin_corpus/spam_2'
ham1 = 'SpamData/Processing/spam_assassin_corpus/easy_ham_1'
ham2 = 'SpamData/Processing/spam_assassin_corpus/easy_ham_2'

# Data Preprocessing

In [8]:
def body_gen(path):
    # This Generator function Helps to return a tuple containing filename,body of email
    for root,dirname,filenames in walk(path):
        for file in filenames:
            req_path = '/'.join([root,file])
            stream = open(req_path, encoding = 'latin-1')
            body1 = []
            ok = False
            for line in stream:
                if ok:
                    body1.append(line)
                elif(line == '\n'):
                    ok = True

            stream.close()

            body = '\n'.join(body1)
            yield file,body

In [9]:
def df_gen(path,classified_as):
    #This function is used to call the body_gen generator function and returns a data frame which contains mail_body and the classification of mail
    rows = []
    rownames=[]
    for file,body in body_gen(path):
        rows.append({"Mail_body": body,"class":classified_as})
        rownames.append(file)
    return pd.DataFrame(rows,index=rownames)

In [10]:
spam_df = df_gen(spam1,1)
spam_df = spam_df.append(df_gen(spam2,1))
spam_df.head()

,Mail_body,class
00171.08c5c55e9c2b4062344655e9ee32b979,Lowest rates available for term life insurance...,1
00041.f1b3402799046db3c1f143a911dc085d,Dear Sir or Madam:\n\n\n\nPlease reply to \n\n...,1
00211.d976c6049e8448e7c407c124b580e0ba,"<html>\n\n\n\n<head>\n\n<meta http-equiv=3D""Co...",1
00459.e71f7a769d6b09c6d75bfbe8711dbbbe,Help wanted. We are a 14 year old fortune 500...,1
00489.023c1d77de9365cad956a4c9118aee4b,UNCOMMON EXOTIC PLEASURE BOTANICALS!\n\n\n\nFe...,1

In [11]:
ham_df = df_gen(ham1,0)
ham_df = ham_df.append(df_gen(ham2,0))
ham_df.head()

,Mail_body,class
00771.2ce14d08f77127e0720658404cc4ce11,\n\nRead the article. I'm afraid I don't unde...,0
01429.6d9cae984e2f92f32d70594f5cc37c87,http://www.hughes-family.org/bugzilla/show_bug...,0
02375.edeb9041e87f72ee99fa802021017fc2,URL: http://diveintomark.org/archives/2002/10/...,0
01782.278f53b8f65fcd422cb26c5bbe74599d,use Perl Daily Newsletter\n\n\n\nIn this issue...,0
01772.e17237d8112c2741c1b8819ed4cff474,use Perl Daily Headline Mailer\n\n\n\nPerl Por...,0

In [12]:
data = pd.concat([spam_df,ham_df])
data.shape

(5799, 2)

In [13]:
data.head()

,Mail_body,class
00171.08c5c55e9c2b4062344655e9ee32b979,Lowest rates available for term life insurance...,1
00041.f1b3402799046db3c1f143a911dc085d,Dear Sir or Madam:\n\n\n\nPlease reply to \n\n...,1
00211.d976c6049e8448e7c407c124b580e0ba,"<html>\n\n\n\n<head>\n\n<meta http-equiv=3D""Co...",1
00459.e71f7a769d6b09c6d75bfbe8711dbbbe,Help wanted. We are a 14 year old fortune 500...,1
00489.023c1d77de9365cad956a4c9118aee4b,UNCOMMON EXOTIC PLEASURE BOTANICALS!\n\n\n\nFe...,1

In [14]:
data.tail()

,Mail_body,class
00939.d6d2250a7e855513820bd35e36883d5a,"Okay, I'll ammend that to LIVE OLD tree saving...",0
00570.a8f739b7a0c060d178c0f6c01152b6aa,This is a semi-followup on my previous questio...,0
00549.703d3fc9f56814c467616f8aac31d22d,Not sure what you're asking. \n\n Content-...,0
00179.d15992f3e182d401cc37a1b79c251d03,"OK, I guess that sysctl.conf is the best way ...",0
00647.97e77e8264c32c8b05077edc15721ba2,\n\n\n\nformail did the trick. Thanks to those...,0